@import "./custom.css";

.skills {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--primary-bg);
}

.skills h2 {
  margin-bottom: 1rem;

  font-size: 3rem;
  font-weight: 700;

  text-align: center;
}

.skill_cards {
  justify-content: flex-start;
  gap: 10px;
}

.skill_card {
  width: 176px;
  height: 174px;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--card-bg);

  align-items: start;
  justify-content: flex-end;
  gap: 8px;
}

@media (max-width: 767px) {
  .skill_cards {
    justify-content: space-evenly;
  }

  .skill_card {
    width: 132px;
    height: 132px;
    overflow: hidden;
  }
}
